/* stylesheet that somewhat mimics the style of old school monochrome tv */
html {
	background: linear-gradient(to bottom right, #343, #232);
	color: #14fdce;
	font-size: 2vw;
	padding: 1em
}
#frame {
	border-radius: 2em;
	border: 1em solid;
	border-color: #020202 #111 #222 #111;
    box-shadow: inset 0 0 18em black, 0 0 10em black;
	padding: 1em;
}

#scanlines {
	/*background: repeating-linear-gradient(to bottom, transparent, transparent 0.1em, rgba(black, 0.15) 0.1em, rgba(black, 0.3) 0.2em);*/
	box-shadow: inset 0 0 5em black;
	border: 1em solid transparent;
	border-radius: 2em;
}
label {
	text-transform: uppercase;
}
button {
	text-transform: uppercase;
	padding: 0.1em 0;
	color: #14fdce;
	text-align: center;
}
button:active {
	background: #14fdce;
	color: black
}
